@charset "UTF-8";

nav-item{
    font-size: 14px;
    font-family: georgia;
    text-align: center;
}
div {
    width: 119px;
    border: solid 1px;
    float: left;
    padding: 10px 0;
}
